@media (min-width: 320px) {
    html, body {
      overflow-x: hidden;
    }
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  

  img {
    max-width: 100%;
    height: auto;
  }
  
  
  .bg-image {
    background-image: url('bg@1x.jpg');
    background-size: cover;
    background-position: center;
  }
  
  @media (min-resolution: 192dpi) {
    .bg-image {
      background-image: url('bg@2x.jpg');
    }
  }
  

  @media (min-width: 768px) {
    body {
      background-color: #eaeaea;
    }
  }
  
  @media (min-width: 1158px) {
    body {
      background-color: #dcdcdc;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1158px) {
    .container {
      max-width: 900px;
      margin: 0 auto;
    }
  }
*
{
    box-sizing: border-box;
}
img{
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body{
    font-family: "Roboto",sans-serif;
    color:#434455;
    font-size:16px;
    line-height: 1.5;
    background-color: #ffffff;
    margin:0;
}
h1{
    font-weight: bold;
    font-size:56px;
}
h2{
    font-weight: bold;
    font-size: 36px;
}
h3{
    font-weight: medium;
    font-size:20px;
}
a{
    font-size:12px;
    text-decoration: underline;
}
ol, ul  {
    list-style-type: none;
    
}
.section{
    padding: 188px 0;
    width: 100%;
}
.container{
    width: 1158px;
    margin: 0 auto;
    flex-direction: column;
}
/*HEADER*/
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);

}
.header-con{
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.menu-navigation{
   
    display: flex;
    align-items: center;


}
.header-logo{
    font-family: "Raleway",sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #404bbf;
    margin-right: 76px;
    border-radius: 2px;

}
.header_logo_second{
    color: #2e2f42;
}
.menu{
    display: flex;
    gap: 40px;
    
}
.menu-list-item{
    padding: 24px 0;
   
}
.menu-list{
    display: block;
    text-decoration: none;
    color: #404BBF;
    font-size:16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)


}
.menu-list::after
{
    border-radius: 2px;
    content: "";
    width: 100%;
    position: absolute;
    left:0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
 
}
.menu-list:hover,
.menu-list:focus
{
    color:#404bbf;
}
.contact_info{
    display: flex;
}

.contact{
    display: flex;
    justify-content: end;
    gap: 40px;
}
.contact_list{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact_list:hover,
.contact_list:focus
{
    color: #404bbf;
}

/*section1*/
.slider{
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                      rgba(46, 47, 66, 0.7)), 
                                      url(../images/slider.jpg);
                                      
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    color:#FFFFFF
}
.slider_text{
    color:#ffffff;
    margin:0 auto;
    letter-spacing: 0.02em;
    max-width: 496px;
    line-height: 1.07;
}
.order_button{
    display: block;
    margin: 0 auto;
    margin-top:48px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    letter-spacing: 0.04em;
    color:white;
    background-color:#4D5AE5;
    font-size:16px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
.blue_button:hover{
    background-color: #404BBF;
}
.order_button:focus{
    background-color: #404BBF;
 
}

/*section2*/
.section_about_us{
    padding: 120px 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about_us{
    display:flex;
    margin-right: 24px;
    margin-top: 72px;
    gap: 24px;
    
}
.about-us-title{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.about_us_subtitle{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.about_us_content{
    letter-spacing: 0.02em;
}

.about_us  li{
    width: calc((100% - 72px) / 4);
}
.about_us_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    border-radius: 4px;
    


}



/*section3*/
.section_our_services{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our_team_title{
    
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.our-team{
    display: flex;
    flex-wrap:wrap;
    margin-top: 72px;
    gap: 24px;
    
}
.our_team_list{
    background-color: #FFFFFF;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 2px 1px rgba(46, 47, 66, 0.08);
}


.our_team_list:last-child{
    margin-right: 0;
}


.our_team_sub_title{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom:8px;
}
.our-team-box{
    padding: 32px 0;
}
.our_team_content{
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
}

.social-media-icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
   
}
.social-media-icon{
    width: 40px;
    height: 40px;
    fill: #F4F4FD;
    box-sizing: border-box;

}
.social-media-icons-item{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icons-item:hover {
    background-color: #404bbf;
}
.social-media-icons-item:focus{
    background-color: #404bbf;
}
.our_team ul {
    list-style: none outside none;
}
.our_team li{
    background-color: #ffffff;
    text-align: center;
}

/*section4*/
.section_our_portfolio{
    padding : 120px 0;
}

.section_our_portfolio >.container{
    margin-bottom: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap:wrap;
    gap: 24px;
    row-gap:48px;
    
}
.portfolio-list-item{
    flex: 1;
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}



.portfolio-title{
    line-height: 1.11;
    text-transform: capitalize;
    color:#2e2f42;
    letter-spacing: 0.02em;
    margin-bottom:72px;
    text-align: center;
}
.portfolio-sub-title{
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-list-item:hover
    .portfolio-content{
        transform: translateY(0%);
    }
    
.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
    .portfolio-content {
    letter-spacing: 0.02em;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-item-wrap {

    position: relative;
    overflow: hidden;
}

.portfolio-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none;
    margin-bottom: 8px;

}
.porfolio-sub-content{
    letter-spacing: 0.02em;
   margin: bottom 8px;
}
/*FOOTER*/
footer{
    font-family: "Raleway",sans-serif;
    background-color: #2E2F42;
    letter-spacing: 17.33;
    padding: 100px 0;
    
}
.footer > .container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer-text{
    color:#F4F4FD;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-logo{
    line-height: 1.17;
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer_logo_second{
    color: #F4F4FD;
}
.footer-logo-wrap{
    margin-right: 120px;
}
.footer-social-media{
    display: block
  
}
.footer-social-media-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-social-media-list{
    display: flex;
    gap: 16px;

}
.footer-social-media-item{
    width: 40px;
    height: 40px;

}
.footer-social-media-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-link:hover{
    background-color: #31d0aa;
}
.footer-social-media-link:focus{
    background-color: #31d0aa;
}
.footer-social-media-icon{
    width: 24;
    height: 24;
    fill: #F4F4FD;
}

.subscribe{
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 0 auto;
    
}
.footer-form-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}
.footer-form-button{
    gap: 24px;
    display: flex;
}
.send-form {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


}  
.subscribe-button{
   min-width: 165px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   background-color: #4d5ae5;
   border: none;
   border-radius: 4px;
}
.footer-form-icon{
    margin-left: 16px;

} 
/* Modal */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
  }
  
  .modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #2e2f42;
    opacity: 0.4;
  }
  
  .is-open {
    display: none;
  }
  
  .modal .modal-form {
    position: relative;
    width: 408px;
    height: 584px;
    z-index: 2;
    background-color: #fcfcfc;
    border-radius: 4px;
    overflow: hidden;
    padding: 24px;
  }
  
  .modal .modal-form .close {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .modal .modal-form .close .icon {
    width: 8px;
    height: 8px;
    fill: #2e2f42;
  }
  
  .modal .modal-form .modal-title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    width: 100%;
  }
  
  .modal .modal-form .input-group {
    margin-top: 8px;
  }
  
  .modal .modal-form .input-group label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
  }
  
  .modal .modal-form .input-group .input-container {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2e2f42;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
  }
  
  .modal .modal-form .input-group .input-container .icon {
    width: 12px;
    height: 12px;
  }
  
  .modal .modal-form .input-group .input-container:focus-within .icon {
    fill: #4d5ae5;
  }
  
  .modal .modal-form .input-group .input-container:focus-within {
    border: 1px solid #4d5ae5;
  }
  
  .modal .modal-form .input-group .input-container input {
    width: 100%;
    border: none;
    outline: none;
  }
  
  .modal .modal-form .input-group .comment {
    color: #8e8f99;
    width: 100%;
    resize: none;
    height: 120px;
    padding: 8px;
  }
  
  .modal .modal-form .input-group .comment:focus-within {
    border: 1px solid #4d5ae5;
  }
  
  .consent-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  }
  
  .consent-container .consent {
    width: 16px;
    height: 16px;
    border: 1px solid #2e2f42;
    border-radius: 2px;
  }
  
  .consent-container label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
  }
  
  .consent-container label a {
    text-decoration: underline;
    color: #4d5ae5;
    font-size: 12px;
  }
  
  .button-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
  
  .button-container .send {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }